* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

#photo {
    width: 8vw;
    height: auto;
}

.subtitle {
    color: #77567A;
    text-transform: uppercase;
}

footer p {
    text-align: right;
    font-style: italic;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

section>form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

#testimonios {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    row-gap: 1rem;
    column-gap: 1rem;

    text-align: center;
}

#testimonios>h2 {
    grid-column: 1 / -1;
}

section {
    border: 0.2pt solid #debac0;
    margin: 4px 2px 8px 2px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 3px 3px 1px 0px rgba(153, 92, 189, 0.678);
    -moz-box-shadow: 3px 3px 1px 0px rgba(153, 92, 189, 0.678);
    box-shadow: 3px 3px 1px 0px rgba(153, 92, 189, 0.678);


}